<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />   
    </startup>
  <appSettings>
    <add key="ExConnection" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:/WatchTest/混砂数据.xls; Extended Properties=Excel 8.0"/>  
  </appSettings>
  <connectionStrings>
    <add name="FuhuaConn" connectionString="Data Source=DESKTOP-IDQ8D3M\SQLEXPRESS;Initial Catalog=fuhua;User ID=sa;Password=37626289;Max Pool Size = 512"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>